#contact {
    border-top: .2rem solid var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50vh;

    & .subtitle {
        font-size: 5rem;
        font-weight: 600;
        text-align: left;
        width: 100%;
    }

    & .email {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 992px) {
    #contact {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 40vh;

        & .subtitle {
            font-size: 3rem;
            text-align: center;
        }

        & .email {
            font-size: 1.7rem;
        }
    }
}
