#experience {
    display: flex;
    flex-direction: column;
    padding-block: 5rem;

    & .subtitle {
        font-size: 4rem;
        text-align: left;
        width: 100%;
    }

    & .jobs {
        overflow-x: auto;
        scroll-behavior: smooth;
        width: 100%;

        & .jobs-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            text-align: left;
            width: max-content;

            & section {
                border-right: .2rem solid;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: max-content;
                padding: 2rem;
                width: 48vw;

                & .job {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    & .logos-container {
                        display: flex;
                        flex-direction: column;
                        height: 8rem;
                        gap: 1rem;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;

                        & .logo {
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 3rem;
                            width: 3rem;

                            & img {
                                filter: grayscale();
                                height: 2rem;
                                transition: all 200ms;
                                width: 2rem;
                            }

                            & p {
                                font-weight: 500;
                            }
                        }

                        & .logo:hover {

                            & img {
                                filter: unset;
                                height: 2.2rem;
                                width: 2.2rem;
                            }
                        }
                    }
                }

                & a {
                    text-decoration: underline;
                }

                & .description-container {
                    display: flex;
                    flex-direction: column;
                    min-height: 10rem;
                    gap: 1rem;
                }

                & .controls {
                    display: flex;
                    justify-content: center;

                    & a {
                        border-radius: 4rem;
                        display: flex;
                        justify-content: center;
                        font-size: 2rem;
                        height: 3rem;
                        text-decoration: none;
                        transition: all 300ms;
                        width: 3rem;
                        z-index: 10;
                    }

                    & .next-job {
                        transform: rotate(180deg);
                    }

                    & a:hover {
                        background-color: var(--text-color);
                        color: var(--bg-color);
                    }
                }
            }
        }
    }
}
