#app {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-block-start: 2rem;
}

.section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1.5rem;
    text-align: center;
}

.subtitle {
    font-size: 4rem;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    width: 100%;
}

.blur {
    filter: blur(0.15rem);
}

.transparent {
    cursor: default;
    opacity: 0;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    #app {
        padding-block: .5rem;
        padding-inline: .5rem;
        overflow: hidden;
    }

    .subtitle {
        font-size: 2rem;
    }
}
