#app {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
    padding-block-start: 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 1.5rem;
    text-align: center;
}
