.menu {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 1rem;

    & .logo {
        transition: all 200ms;
    }

    & img {
        width: 1.1rem;
    }

    & .logo:hover {
        transform: scale(110%);
        transform: rotate(180deg);
        & img {
            width: 1.2rem;
        }
    }

    & .menu-item {
        padding: .5rem;
        transition: all 200ms;
    }
}

@media only screen and (max-width: 768px) {
    .menu {
        gap: .5rem;
        padding: 0;

        & .logo {
            display: none;
        }

        & .menu-item {
            padding: .3rem;
        }
    }
}
