.menu {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 30rem;

    & .logo {
        transition: all 200ms;
    }

    & img {
        width: 1.1rem;
    }

    & .logo:hover {
        transform: scale(110%);
        transform: rotate(180deg);
        & img {
            width: 1.2rem;
        }
    }

    & .menu-item {
        transition: all 200ms;
    }
}

.blur {
    filter: blur(0.15rem);
}
