@keyframes lighteffect {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes moveforward {
    from { transform: translateX(0) rotate(180deg); }
    to { transform: translateX(1rem) rotate(180deg); }
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 5rem;

    & .projects-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & .projects-menu {
            padding: 1rem;

            & ul {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                padding: 0;

                & li {
                    align-items: start;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    font-weight: 500;
                    list-style: none;
                    text-align: left;
                    width: 7rem;

                    & hr {
                        transition: width 200ms;
                        width: 2rem;
                    }
                }

                & li:hover {
                    & hr {
                        width: 100%;
                    }
                }

                & .selected {
                    & hr {
                        width: 100%;
                    }
                }
            }
        }

        & .project-container {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            overflow: hidden;
            text-align: left;
            transition: opacity 200ms;
            max-width: 200rem;

            & .images {
                align-items: center;
                display: flex;
                flex-direction: column;
                max-width: 50rem;

                & .images-container {
                    border: .2rem solid var(--text-color);
                    border-radius: .5rem;
                    display: flex;
                    flex-direction: row;
                    overflow-x: scroll;
                    scroll-behavior: smooth;
                    gap: 1rem;
                }

                & .scroll-sign-container {
                    min-height: 3rem;

                    & .scroll-sign {
                        animation: lighteffect 1s linear infinite alternate;
                        display: flex;
                        flex-direction: row;
                        font-style: italic;
                        font-weight: 600;
                        gap: .5rem;

                        & .arrow {
                            animation: moveforward 1s linear infinite alternate;
                            display: flex;
                            font-weight: 500;
                        }
                    }

                    & .hidden {
                        display: none;
                    }
                }
            }

            & .details {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                & a {
                    width: fit-content;
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {
        & .projects-content {
            gap: 0;
            & .projects-menu {
                padding: 0;
            }
            & .project-container {
                flex-direction: column;
                gap: 1rem;
                & .details {
                    padding: 1rem 0 0 0;
                    gap: .5rem;
                }
            }
        }
    }
}
